html {
    text-align: center;
    margin: auto;
    background-color: #FEEFDD;
}

table{
    text-align: center;
    margin: auto;
    width: 600px;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 3px solid #201E1F;
}

.PrimeiraLinha{
    background-color: #201E1F;
    color: #FEEFDD;
}

.data{
    background-color: #FF4000;
    color: #FEEFDD;
    border-bottom: 3px solid #201E1F;
    border-right: 4px solid #201E1F;
}
.linha1{
    background-color: #FAAA8D;
    border-bottom: 3px solid #201E1F;
    padding: 8px;
    
}
.linha2{
    background-color: #ff8f67;
    border-bottom: 3px solid #201E1F;
    padding: 8px;
}

td{
    transition: 0.1s;
}
tr:hover td{
    transform: scale(1.1);
    border-top: 3px solid #201E1F;
    border-right: 3px solid #201E1F;
}

.imagem{
    background-color: #201E1F;
    color: #FEEFDD;
}